@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

@media screen and (max-width: 600px) {
	.signs-content-mobile {
		font-family: "Petit Formal Script", cursive;
		font-size: 70px;
	}

	.result {
		height: 50px;
	}

	.meaning-mobile {
		margin-top: 40px;
		font-size: 50px;
	}

	.sign-mobile {
		margin-top: 40px;
		font-size: 140px;
	}
}
