@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

.sign-name,
.sign-which,
.sign-symbol {
	color: white;
	margin: 30px;
}

.sign-name {
	margin-top: 50px !important;
	font-size: 50px;
}

.sign-which {
	font-size: 45px;
}

.sign-symbol {
	font-size: 100px;
}

.alien1-icon-desktop {
	height: 35px;
	color: rgb(230, 137, 44);
}

.alien2-icon-desktop {
	height: 35px;
	color: rgb(131, 3, 101);
}

@media screen and (max-width: 600px) {
	.signs-content-mobile {
		font-family: "Petit Formal Script", cursive;
		font-size: 70px;
		font-weight: bold;
		margin-top: 20px;
	}

	.signs-content-exmp-mobile {
		font-size: 60px;
		font-weight: bold;
		margin-top: 20px;
	}

	.result {
		height: 50px;
	}

	.meaning-mobile {
		color: white;
		margin-top: 20px;
		font-size: 35px;
	}

	.meaning-exmp-mobile {
		margin-top: 50px;
		font-size: 35px;
		font-weight: 500;
	}

	.sign-mobile {
		font-size: 160px;
		color: white;
	}

	.explanation-mobile {
		color: white;
	}

	.sign-exmp-mobile {
		font-size: 80px;
		margin-top: 50px;
		font-weight: 500;
	}
}
