ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.list {
	margin: 7vh;
}

.dzialy-mobile {
	display: none;
}

.main-dzialy {
	max-height: 90vh;
	overflow: hidden;
}
.dzialy-desktop {
	display: block;
}

@media only screen and (max-width: 800px) {
	.dzialy-desktop {
		display: none;
	}

	.dzialy-mobile {
		display: block;
	}
}
