@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

.dzialy-desktop {
	display: block;
}

.dzialy-mobile {
	display: none;
}

.one-class {
	color: yellow;
	font-size: 100px;
}

.two-class {
	color: yellow;
	font-size: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

::-webkit-scrollbar {
	display: none;
}

.book {
	margin-top: 70px;
	margin-bottom: 70px;
}

.pic-de {
	width: 300px !important;
}

.text-book {
	font-size: 80px;
}

.text-desktop {
	font-size: 80px;
}

.title-page {
	background-color: #f8f5de;
	background-image: linear-gradient(
		to right,
		rgba(255, 102, 0, 0.4),
		rgba(200, 160, 0, 0.1) 11%,
		rgba(0, 0, 0, 0) 35%,
		rgba(200, 160, 0, 0.1) 65%
	);
	box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
		inset 0 0 20px rgba(255, 210, 0, 0.4),
		inset 0 0 30px rgba(220, 120, 0, 0.8);
	color: rgba(0, 0, 0, 0.5);
}

.wrap-paper {
	text-align: justify;
	width: 210mm;
	height: 297mm;
	margin: auto;
	padding: 0;
	background-color: #f2f2f2;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	font-family: Cursive;
	color: #8c816c;
	overflow: hidden;
}

.paper {
	width: 180mm;
	height: 267mm;
	padding: 15mm;
	line-height: 1.4em;
	background-image: linear-gradient(to right, #8c816c 1px, transparent 1px),
		linear-gradient(to bottom, #8c816c 1px, transparent 1px);
	background-size: 1.4em 1.4em;
	background-position: 0 1.1em;
	background-origin: content-box;
}

.number {
	font-size: 100px;
}

.demoPage {
	background-image: linear-gradient(
		to right,
		rgba(195, 160, 130, 1) 0%,
		rgba(195, 160, 130, 1) 90%,
		rgb(111, 111, 110, 0.7) 100%
	);
}

.demoPage2 {
	background-image: linear-gradient(
		to left,
		rgba(195, 160, 130, 1) 97%,
		rgba(29, 29, 29, 0.7) 100%
	);
}

.blackboard-main-desktop {
	width: 100%;
	height: 100vh;
	border: #b9713d solid 12px;
	border-top: #8b4513 solid 12px;
	border-left: #b9713d solid 12px;
	border-bottom: #8b4513 solid 12px;
	box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #8b4513,
		0px 0px 0px 4px #b9713d, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
	background-image: radial-gradient(
			circle at left 30%,
			#228b22,
			#117811 80px,
			#006400 160px,
			#2e8b57
		),
		linear-gradient(
			215deg,
			transparent,
			transparent 100px,
			#2e8b57 260px,
			#228b22 320px,
			transparent
		),
		radial-gradient(circle at right, #006400, #556b2f);
	/* background-color: rgb(57, 137, 216); */
}
.star-learn-num {
	color: rgb(255, 251, 0);
}

@media screen and (min-width: 1400px) {
	.star-learn-num {
		height: 42px;
	}
}

@media screen and (max-width: 600px) {
	/* body {
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg)
			center center fixed;
		background-size: cover;
	} */

	.star-icon-mobile {
		margin-bottom: 20px;
		margin-top: 20px;
		color: rgb(251, 255, 0);
	}

	.dzialy-mobile {
		display: block;
	}

	.dzialy-desktop {
		display: none;
	}

	.number {
		color: white;
		font-size: 70px;
		font-family: "Petit Formal Script", cursive;
	}

	.number-tekst {
		color: white;
		margin-top: 25%;
		font-size: 35px;
		font-family: "Petit Formal Script", cursive;
	}

	.number-nine {
		color: white;
		font-size: 900px;
		font-family: "Petit Formal Script", cursive;
	}

	.number-tekst-nine {
		color: white;
		margin-top: 25%;
		font-size: 50px;
		font-family: "Petit Formal Script", cursive;
	}

	.blackboard-main-mobile {
		width: 100%;
		height: 100%;
		border: #b9713d solid 12px;
		border-top: #8b4513 solid 12px;
		border-left: #b9713d solid 12px;
		border-bottom: #8b4513 solid 12px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #8b4513,
			0px 0px 0px 4px #b9713d, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
		background-image: radial-gradient(
				circle at left 30%,
				#228b22,
				#117811 80px,
				#006400 160px,
				#2e8b57
			),
			linear-gradient(
				215deg,
				transparent,
				transparent 100px,
				#2e8b57 260px,
				#228b22 320px,
				transparent
			),
			radial-gradient(circle at right, #006400, #556b2f);
		background-color: #228b22;
	}

	.blackboard {
		width: 95% !important;
		height: 500px;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 40px;
		border: #b9713d solid 2px;
		border-top: #8b4513 solid 2px;
		border-left: #b9713d solid 2px;
		border-bottom: #8b4513 solid 2px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #8b4513,
			0px 0px 0px 4px #b9713d, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
		background-image: radial-gradient(
				circle at left 30%,
				#228b22,
				#117811 80px,
				#006400 160px,
				#2e8b57
			),
			linear-gradient(
				215deg,
				transparent,
				transparent 100px,
				#2e8b57 260px,
				#228b22 320px,
				transparent
			),
			radial-gradient(circle at right, #006400, #556b2f);
		background-color: #228b22;
	}

	.text-marg {
		margin: 50%;
	}

	.btn-changenum {
		margin: 20px;
		color: white !important;
		border: #b9713d solid 2px;
		border-top: #8b4513 solid 2px;
		border-left: #b9713d solid 2px;
		border-bottom: #8b4513 solid 2px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #8b4513,
			0px 0px 0px 4px #b9713d, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
	}

	.one-class {
		margin-top: 50px;
		height: 160px;
	}

	.two-class {
		margin: 10px;
		height: 130px;
	}

	.three-class {
		margin: 10px;
		height: 80px;
	}

	.four-class,
	.fife-class {
		margin: 10px;
		height: 85px;
	}

	.six-class {
		margin: 20px;
		height: 75px;
	}

	.seven-class {
		margin: 10px;
		height: 70px;
	}
	.nine-class {
		margin: 7px;
		height: 75px;
	}

	.eight-class,
	.ten-class {
		margin: 5px;
		margin-bottom: 20px;
		height: 65px;
	}

	.header-mobile {
		margin: 30px;
		font-size: 30px;
		color: white;
	}

	.numbers-mobile {
		color: white;
		font-size: 40px;
		margin: 15px;
		margin-top: 20px !important;
	}

	.star-learn-mobile {
		color: rgb(229, 255, 0);
		font-size: 50px;
		margin: 20px;
	}
}
