@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.main-box {
	width: 100%;
	height: 70vh;
	margin-top: 5vh;
	border: 1px solid black;
}

.numbers-mobile {
	margin: 30px;
	font-size: 30px;
	/* font-family: "Caveat", cursive; */
	/* font-family: "Rubik Wet Paint", cursive; */
	font-family: "Dancing Script", cursive;
}

.header-text {
	font-family: "Dancing Script", cursive;
	font-size: 25px;
}

.text-header {
	color: white;
	margin-top: 80px !important;
	margin: 40px;
}

.text-header-mobile {
	color: white;
	margin: 10px;
}

.text-math {
	color: white;
	font-size: 28px;
}

.text-math-moblile {
	color: white;
	margin: 30px;
	font-size: 20px;
}

.card-title-desktop {
	color: #0c2e13;
	font-size: 35px;
	padding: 10px;
}

.card-title-desktop-white {
	color: white;
	font-size: 35px;
	padding: 10px;
	margin: 10px;
}

.marg {
	margin-top: 10px;
}

.marg-pnc {
	margin-top: 10px;
}

.card-title-mobile {
	color: white;
}

.card-text-desktop {
	color: white;
	font-size: 25px;
}

.card-text-mobile {
	color: white;
}

.scroll {
	max-width: 1200px;
	margin: 0 auto;
	overflow-y: auto; /* Add vertical scroll if needed */
}

.list-mobile {
	color: white;
	font-size: 25px;
	margin: 30px;
}

.animal {
	height: 180px;
	float: right;
}

.pens {
	height: 200px;
	float: left;
	margin-left: 0px;
}

ul.text-center {
	list-style-type: none;
	padding-left: 0;
}

.appname {
	height: 80px;
	width: 150px;
}

.copy-mobile {
	color: white;
	font-size: 18px !important;
}

.book-icon {
	color: #c38457 !important;
	margin: 10px;
}

.child-icon {
	color: #73cfed;
}

.icon-marg {
	margin-top: 40px;
}

.pen-icon {
	color: rgb(158, 180, 194);
	margin: 15px;
}

.learnnum-icon {
	color: rgb(4, 30, 109);
}

.sign-icon {
	color: rgb(88, 61, 185);
}

.add-icon {
	color: rgb(120, 255, 47);
}

.sub-icon {
	color: rgb(247, 60, 60);
}

.comp-icon {
	color: yellow;
}

.uknnown-icon {
	color: rgb(187, 1, 1);
}

.arrow-icon {
	color: rgb(187, 1, 1);
}

@media screen and (min-width: 768px) {
	.card-title-desktop-white {
		color: white;
		font-size: 20px;
		padding: 0 !important;
		margin: 0 !important;
		margin-top: 10px !important;
	}

	.book-icon {
		font-size: 20px !important;
	}

	.pen-icon {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 1199px) {
	.card-title-desktop-white {
		color: white;
		font-size: 25px;
	}

	.book-icon {
		font-size: 40px !important;
		margin: 0 !important;
		margin-top: 10px !important;
	}

	.pen-icon {
		margin: 0 !important;
		font-size: 40px !important;
		margin-top: 10px !important;
	}
}
