@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.main-box {
	width: 100%;
	height: 70vh;
	margin-top: 5vh;
	border: 1px solid black;
}

.numbers-mobile {
	margin: 30px;
	font-size: 30px;
	/* font-family: "Caveat", cursive; */
	/* font-family: "Rubik Wet Paint", cursive; */
	font-family: "Dancing Script", cursive;
}

.header-text {
	font-family: "Dancing Script", cursive;
	font-size: 25px;
}

.scroll {
	max-width: 1200px;
	margin: 0 auto;
	overflow-y: auto; /* Add vertical scroll if needed */
}

.list-mobile {
	color: white;
	font-size: 25px;
	margin: 7vh;
}

.animal {
	height: 180px;
	float: right;
}

.pens {
	height: 200px;
	float: left;
	margin-left: 0px;
}

ul.text-center {
	list-style-type: none;
	padding-left: 0;
}

.appname {
	height: 80px;
	width: 150px;
}
