.navigation {
	color: white !important;
	font-size: 26px !important;
}

.nav-desktop,
.footer-desktop {
	margin: 80px;
}

.logo {
	color: white;
	font-weight: bold;
	font-size: 28px;
}

@media screen and (max-width: 1500px) {
	.nav-desktop,
	.footer-desktop {
		margin: 30px;
	}
}

@media screen and (max-width: 1200px) {
	.nav-desktop,
	.footer-desktop {
		margin: 10px;
	}
}

@media screen and (max-width: 600px) {
	.nav-desktop,
	.footer-desktop {
		margin: 0vh;
	}
}
