.navigation {
	color: white !important;
	font-size: 25px !important;
	margin-left: 20px !important;
}

.nav-desktop,
.footer-desktop {
	margin: 2.2vh;
}

.logo {
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.btn-lg {
	background-color: white !important;
}

@media screen and (max-width: 600px) {
	.nav-desktop,
	.footer-desktop {
		margin: 0vh;
	}
}
