@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

.fa-face-smile {
	color: #12bb12;
	font-size: 70px;
}

.fa-face-frown {
	color: red;
	font-size: 70px;
}

@media screen and (max-width: 600px) {
	.fa-face-smile {
		color: #008000;
		font-size: 50px;
	}

	.fa-face-frown {
		color: red;
		font-size: 50px;
	}

	.digits {
		margin-top: 20px;
		font-size: 70px;
		width: 70%;
		height: 80%;
		border: 1px solid black;
		font-family: "Grand Hotel", cursive;
	}
	.digitword {
		font-size: 60px;
		font-family: "Petit Formal Script", cursive;
	}

	.dobre-zle {
		height: 60px;
	}
}
