.list-title-desktop {
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin: 40px;
}

.list-title-mobile {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.answer-box-desktop {
	border: #b9713d solid 5px;
	border-top: #8b4513 solid 5px;
	border-left: #b9713d solid 5px;
	border-bottom: #8b4513 solid 5px;
	box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #8b4513,
		0px 0px 0px 4px #b9713d, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
	/* min-width: 30px; */
	width: 100%;
	min-height: 50px;
	margin: 10px;
	margin-top: 20px !important;
	background-color: transparent;
	color: white;
	font-size: 20px;
}

.answer-box-desktop:hover {
	cursor: pointer;
}

.answer-box-mobile {
	border: #b9713d solid 2px;
	border-top: #8b4513 solid 2px;
	border-left: #b9713d solid 2px;
	border-bottom: #8b4513 solid 2px;
	box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #8b4513,
		0px 0px 0px 4px #b9713d, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
	min-width: 30px;
	min-height: 50px;
	margin: 10px;
	margin-top: 10px !important;
	background-color: transparent;
	color: white;
	font-size: 20px;
}

.equations-desktop {
	color: white;
	font-size: 50px;
	background-color: transparent;
	border: none;
}

.equations-mobile {
	color: white;
	font-size: 30px;
	background-color: transparent;
	border: none;
}

.information-desktop {
	color: white;
	font-size: 25px;
	margin: 20px;
}

.information-mobile {
	color: white;
	font-size: 25px;
	margin: 20px;
}

.icons-desktop {
	height: 140px;
	margin: 5px;
}

.icons-space-desktop {
	height: 120px;
}

.icons-mobile {
	height: 40px;
	margin: 30px;
}

.wrong-answers-mobile {
	height: 60px;
	margin: 20px;
}

.heart-icon {
	margin: 20px;
	color: red;
	height: 40px;
}

.btn-desktop {
	border: none;
	background: transparent;
	color: white;
	font-size: 30px;
}

.btn-mobile {
	border: none;
	background: transparent;
	color: white;
	font-size: 25px;
}

.choose-level-mobile {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	font-size: 23px;
}

.smile-icon {
	color: rgb(35, 162, 35);
}

.smile-icon-desktop {
	color: rgb(35, 162, 35);
	height: 70px;
}

.frown-icon {
	color: red;
}

.frown-icon-desktop {
	color: red;
	height: 70px;
}

.star1-icon-desktop {
	color: rgb(255, 255, 0);
	height: 70px;
	margin: 10px;
}

.star2-icon-desktop {
	color: rgb(0, 213, 255);
	height: 70px;
	margin: 10px;
}

.ban-icon-desktop {
	color: rgb(164, 16, 16);
	height: 70px;
	margin: 10px;
}

.sub-nb {
	color: rgb(164, 16, 16);
	font-size: 100px;
}

.sub-nb1 {
	color: rgb(54, 183, 54);
	font-size: 100px;
}

.uknnown {
	color: rgb(164, 16, 16);
}

.circle-icon-desktop {
	color: #f7ec09;
	height: 70px;
	margin: 10px;
}

.sub-result {
	color: #f7ec09;
}

.star1b-icon-desktop {
	color: rgb(255, 255, 0);
	height: 46px;
	margin: 10px;
}

.star2b-icon-desktop {
	color: rgb(0, 213, 255);
	height: 46px;
	margin: 10px;
}

.input-mobile {
	width: 65% !important;
	padding: 5px;
	font-size: 30px;
}

.input-bck-mobile {
	background-color: rgb(51, 110, 51);
}

.hover-easy,
.hover-mid,
.hover-hard,
.hover-b,
.hover-menu {
	padding: 10px;
}

.hover-easy:hover {
	color: rgb(67, 209, 67);
	font-size: 34px;
	padding: 7px !important;
	font-weight: bold;
	cursor: pointer;
}

.hover-mid:hover {
	color: #534982;
	font-size: 34px;
	padding: 7px !important;
	font-weight: bold;
	cursor: pointer;
}

.hover-hard:hover {
	color: rgb(101, 0, 0);
	font-size: 34px;
	padding: 7px !important;
	font-weight: bold;
	cursor: pointer;
}

.hover-b:hover {
	font-size: 35px;
	padding: 6px !important;
	font-weight: bold;
	cursor: pointer;
}

.hover-back:hover {
	font-size: 35px;
	padding: 11px !important;
	font-weight: bold;
	cursor: pointer;
}

.hover-menu:hover {
	font-size: 37px;
	padding: 5px !important;
	font-weight: bold;
	cursor: pointer;
	cursor: pointer;
}

.hover-compare:hover {
	font-size: 30px;
	padding: 15px !important;
	font-weight: bold;
	cursor: pointer;
}

.main-title {
	font-size: 41px;
	font-weight: bold;
	color: white;
	margin: 30px;
}

.correct-answer-info {
	color: white;
	font-weight: bold;
	font-size: 35px;
	margin: 20px;
}

.corect-ans {
	font-size: 50px;
	color: rgb(24, 174, 24) !important;
}

.task-desktop {
	color: white;
	font-size: 30px;
}
